{% extends "base.html" %} {% block content %}

<!--TODO: Display the user's name in the h1 title-->
<div class="container">
  <h1 class="title">Welcome, {{name}}</h1>
  <!--TODO: Make a GET request to the /download path-->
  <a href="/download">Download Your File</a>
  <br><br>
  <form action="/submitted" method="post">
    <input type="text" name="prompt" placeholder="Give a prompt here" required="required" style="width: 500px" /><br>
    <input type="text" name="image" placeholder="Share an .jpg image here" required="required" style="width: 500px"/>
    <br>
    <button type="submit" style="width: 100px">Go crazy</button>
  </form>
</div>
{% endblock %}
